layout_conda() {
  # If no environment name is provided, use the directory name
  local ENV_NAME="${1:-autonomous}"
  
  # Activate the conda environment
  eval "$(conda shell.zsh hook)"
  conda activate "$ENV_NAME"
}

layout_conda autonomous
